rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Visitor registration collection
    match /registrations/{document} {
      allow read, write: if true;
    }
    
    // Configurations collection
    match /configs/{document} {
      allow read, write: if true;
    }

    // Users collection
    match /users/{document} {
      allow read, write: if true;
    }

    // Events collection
    match /events/{document} {
      allow read, write: if true;
    }
  }
}
